#block-toast-cta-output-block {
    border: 5px solid #cecece;
    background-clip: padding-box;
    bottom: 0;
    right: 5%;
    margin-left: -45px;
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    margin-bottom: -70px;
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.93) 19%, rgba(209,209,209,0.78) 62%, rgba(254,254,254,0.65) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(19%, rgba(219,219,219,0.93)), color-stop(62%, rgba(209,209,209,0.78)), color-stop(100%, rgba(254,254,254,0.65)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.93) 19%, rgba(209,209,209,0.78) 62%, rgba(254,254,254,0.65) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.93) 19%, rgba(209,209,209,0.78) 62%, rgba(254,254,254,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,0.93) 19%, rgba(209,209,209,0.78) 62%, rgba(254,254,254,0.65) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,0.93) 19%, rgba(209,209,209,0.78) 62%, rgba(254,254,254,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}


@media screen and (max-width: 767px) {

    #block-toast-cta-output-block {
        display: none !important;
    }
}